body {
    margin-top: 59px!important;
}

.nav-item {
    padding-left: 1rem;
}

.start-container {
    padding: 0!important;
    position: relative;
}

.background-image {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.text-mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
}

.hero-heading {
    color: white;
    margin: 1rem;
}

.person-picture {
    width: 100%;
    height: 600px;
    object-fit: contain;
}

.text-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-on-site {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.heading-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.text-under-carousel {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
}